html,
body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    margin-top: 50px;
    margin: auto;
    text-align: center;
    font-size: 28px;
}

#container {
    padding: 10px;
}

#form-example {
    width: 600px;
    margin: 3% auto 0;
}

#form-results-example {
    width: 600px;
    margin: 3% auto 0;
}


/* unvisited link */

a:link {
    color: #4F3674;
    text-decoration: none;
}


/* visited link */

a:visited {
    color: #3C275A;
}


/* mouse over link */

a:hover {
    color: #4F3674;
    background-color: #d6a800;
}